# Operating systems
.DS_Store
Thumbs.db

# Python / Django
__pycache__/
*.py[cod]
*.log
.env
.venv/
venv/

# Django runtime files
*.sqlite3
media/

# Node / Vite / Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend tooling
.vite/
.vscode/

# IDEs
.idea/

# Docker
.env.*
docker-data/
